<%- layout('layouts/boilerplate.ejs') %>
<div class="row">
  <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3">
    <form action="/register" method="POST" class="validateForm" novalidate>
      <!-- FIRST NAME & LAST NAME -->
      <div class="row mb-3">
        <div class="col">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" name="firstName" id="firstName" class="form-control" />
        </div>
        <div class="col">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" name="lastName" id="lastName" class="form-control" />
        </div>
      </div>
      <!-- EMAIL ADDRESS -->
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-control" required />
      </div>
      <!-- USERNAME -->
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" class="form-control" required />
      </div>
      <!-- PASSWORD -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-control" required />
      </div>
      <!-- IS USER AN ADMIN -->
      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" role="switch" id="isAdmin" name="isAdmin" />
        <label class="form-check-label" for="isAdmin">Admin?</label>
      </div>

      <!-- SUBMIT BUTTON -->
      <div>
        <button class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>
<script src="/scripts/validateForm.js"></script>
