<%- layout('layouts/boilerplate.ejs') %>
<div class="row">
  <div class="col-sm-12 col-md-3 mb-3">
    <a href="/dashboard/gyms">
      <div class="card shadow bg-body rounded">
        <img src="/images/gym.jpg" class="card-img" alt="..." />
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <p class="card-text text-center display-6 text-white fw-semibold textShadow">Gyms: <%= allGyms.length %></p>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-12 col-md-3 mb-3">
    <a href="/dashboard/users">
      <div class="card shadow bg-body rounded">
        <img src="/images/authenticate-code.jpg" class="card-img" alt="..." />
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <p class="card-text text-center display-6 text-white fw-semibold textShadow">Users: <%= allUsers.length %></p>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-3 mb-3">
    <a href="/dashboard/gyms/new">
      <div class="card shadow bg-body rounded">
        <img src="/images/gym.jpg" class="card-img" alt="..." />
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <p class="card-text text-center display-6 text-white fw-semibold textShadow">Add Gym</p>
        </div>
      </div>
    </a>
  </div>
</div>
