<%- layout('layouts/boilerplate.ejs') %>
<div class="row">
  <div class="col-sm-12 col-md-3 mb-3">
    <a href="/dashboard/gyms">
      <div class="card shadow bg-body rounded">
        <img src="https://res.cloudinary.com/dskmlqboo/image/upload/v1696713699/GymFinder/app-img/gym_emyoup.jpg" class="card-img" alt="..." />
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <p class="card-text text-center display-6 text-white fw-semibold textShadow">Gyms: <%= allGyms.length %></p>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-12 col-md-3 mb-3">
    <a href="/dashboard/users">
      <div class="card shadow bg-body rounded">
        <img src="https://res.cloudinary.com/dskmlqboo/image/upload/v1696713697/GymFinder/app-img/authenticate-code_o0afoj.jpg" class="card-img" alt="..." />
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <p class="card-text text-center display-6 text-white fw-semibold textShadow">Users: <%= allUsers.length %></p>
        </div>
      </div>
    </a>
  </div>
</div>
