<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= err.message%></h4>
      <% if (process.env.NODE_ENV !=="production" ) { %>
      <hr />
      <p class="mb-0"><%= err.stack %></p>
      <% } %>
    </div>
  </div>
</div>
