.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: auto;
  right: 0;
  margin-top: var(--bs-dropdown-spacer);
}

.textShadow {
  text-shadow: 0px 1px 4px rgb(0, 0, 0);
}

#cluster-map {
  width: 75%;
  height: 50vh;
}
