<%- layout('layouts/boilerplate.ejs') %>
<div class="row">
  <div class="col-sm-8 offset-sm-2 col-md-8 offset-md-2">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Admin?</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="userAnchorTag" colspan="4" class="text-center text-secondary bg-light">&plus;</td>
        </tr>

        <% for(let user of allUsers) { %>
        <tr>
          <td scope="col"><%= user.username %></td>
          <td scope="col"><%= user.email %></td>
          <td scope="col"><% if(user.isAdmin) { %> &#10003; <% } %></td>
          <td scope="col">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false"><span>&plus;</span></button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li>
                  <form action="/dashboard/users/<%= user._id %>?_method=DELETE" method="POST">
                    <button class="dropdown-item text-danger">Delete</button>
                  </form>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <a href="/dashboard" class="btn btn-secondary">Return</a>
  </div>
</div>
<script src="/scripts/tableAnchorTags.js"></script>
